@charset "utf-8";
/* jQuery-Ajax Auto Suggest v.1.0 */
/* Created by Isaac Oslund | isaac@oslund.ca  */

.ausu-suggest input
{
    /*padding:6px;
    border:1px #CCC solid;
    font-size:14px;*/
}


.ausu-suggestionsBox
{
    position: absolute;
    left: 0px;
    top:-2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin: 26px 0px 0px 0px;
    width: 200px;
    padding:0px;
    /*color: #fff;*/
    color:#EEEEEE;
    padding: 0 0 0 0;
	z-index: 999999;
}

.ausu-suggestionsBox ul 
{
    list-style:none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    /*background-color: #000;*/
    background-color: #EEEEEE;
}

/*.ausu-suggestionsBox ul li a*/
.ausu-suggestionsBox ul li a
{
    display: block;
    text-indent:  4px;
    width: 99%;
    color: black;
    text-decoration: none;
    padding: 6px 0 6px 0;
    border-bottom:1px solid #666;
    border-left:1px solid #666;
    border-right:1px solid #666;
}

.ausu-load { background: url(loader.gif) right no-repeat; }

.ausu-suggest
{
    position:relative;
    float: left;
}

/*.selected a*/
.selected a
{
	cursor:pointer;
    background-color: #DDDDDD;
	color:#FFF;
}

