/** Table styles **/

table.adminlist {
    width: 100%;
    border-spacing: 1px;
    background-color: #e7e7e7;
    color: #666;
    font-size: 9pt;
    font-family: tahoma,arial,verdana;
}

table.adminlist td,
table.adminlist th { padding: 4px; }

table.adminlist thead th {
    text-align: center;
    background: #f0f0f0;
    color: #666;
    border-bottom: 1px solid #999;
    border-left: 1px solid #fff;
    cursor: pointer;
}

table.adminlist thead th:hover {
    background-color: #FFE7A1;
}

table.adminlist thead a:hover { text-decoration: none; }

table.adminlist thead th img { vertical-align: middle; }

table.adminlist tbody th { font-weight: bold; }

table.adminlist tbody tr			{ background-color: #fff;  text-align: left; }
table.adminlist tbody tr.row1 	{ background: #f9f9f9; border-top: 1px solid #fff; }

table.adminlist tbody tr.row0:hover td,
table.adminlist tbody tr.row1:hover td  { background-color: #ffd ; }

table.adminlist tbody tr td 	   { height: 25px; background: #fff; border: 1px solid #fff; }
table.adminlist tbody tr.row1 td { background: #f9f9f9; border-top: 1px solid #FFF; }

table.adminlist tfoot tr { text-align: center;  color: #333; }
table.adminlist tfoot td,
table.adminlist tfoot th { background-color: #f3f3f3; border-top: 1px solid #999; text-align: center; }

table.adminlist td.order 		{ text-align: center; white-space: nowrap; }
table.adminlist td.order span { float: left; display: block; width: 20px; text-align: center; }

table.adminlist td.tdcolor { background-color: #FEFCF3; }
table.adminlist tbody tr:hover td { background-color: #f1e8e6;  }


table.adminlist .pagination { display:table; padding:0;  margin:0 auto;	 }

input.textarea      { font-family:tahoma;font-size: 12px;  border: 1px solid silver;padding: 3px; }

legend    {
    color: #0B55C4;
    font-size: 12px;
    font-weight: bold;
}